.container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Garante que não apareça scroll */
}

/* Dividindo a página ao meio */
.lado {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    background-position: center;
    overflow: hidden; 
}

.lado:hover {
    transform: scale(1.05); 
    opacity: 0.9; 
}

/* Estilo comum para símbolos masculinos e femininos */
.simbolo {
    font-size: 150px; 
    color: white;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); 
}

/* Responsividade */
@media (max-width: 768px) {
    .lado {
        flex: 1 0 50%; 
        height: 100vh; 
    }

    .simbolo {
        font-size: 100px; 
    }
}

@media (max-width: 480px) {
    .lado {
        flex: 1 0 50%; 
        height: 100vh; 
    }

    .simbolo {
        font-size: 80px; 
    }
}
