body {
    color: #ffffff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
    color: #28a745 !important;
}

.btn-back {
    background-color: #28a745;
    color: #ffffff;
}

.btn-back:hover {
    background-color: #1f7a33;
}

.exercise-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.exercise-group {
    background-color: #1f1f1f;
    border: 2px solid #28a745; /* Verde */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px; /* Altura mínima */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.exercise-group:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(40, 167, 69, 0.5);
}

.exercise-group h3 {
    margin-bottom: 10px;
}

.exercise-group a {
    text-decoration: none;
    color: #28a745; /* Verde */
}

.exercise-group a:hover {
    text-decoration: underline;
}
