body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Usado para garantir que o conteúdo fique centralizado na altura da tela */
}

.container {
    margin-top: 5%;
    width: 100%;
}

.img-container {
    text-align: center; /* Centraliza o texto e a imagem */
    margin-bottom: 1rem; /* Adiciona espaçamento entre elementos */
}

.img-container img {
    width: 100%; /* A imagem irá preencher o tamanho da coluna */
    height: auto; /* Mantém a altura proporcional */
    max-width: 100%; /* Garante que as imagens não ultrapassem o limite da coluna */
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: transform 0.5s ease-in-out;
}

.img-container img:hover {
    transform: scale(1.2); /* Aplica o zoom ao passar o rato */
    cursor: pointer;
}

.img-container h1 {
    font-size: 2rem; 
    margin-top: 0.5rem; 
    color: black; 
    text-decoration: none; 
}

a {
    text-decoration: none; 
}

a:focus, a:hover {
    outline: none; 
}
